.homeWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  padding: 10px 20px;
  min-height: 100vh;
}
.testLogWrapper {
  width: 75%;
  margin-right: 35px;
}

.preference-wrapper {
  width: 25%;
  padding: 10px;
}
.categoryParent {
  position: relative;
}
.spinnerParent {
  position: absolute;
  right: 60px;
  bottom: 2px;
}
.category-options-spinner {
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 970px) {
  .homeWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .preference-wrapper {
    width: 100%;
  }
  .testLogWrapper {
    width: 100%;
    margin-right: 0;
  }
}
