.HomeWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  padding: 10px 20px;
  min-height: 100vh;
}
.testLogWrapper {
  width: 75%;
  margin-right: 35px;
}

.prefrenceWrapper {
  width: 25%;
  padding: 10px;
}
.categoryParent {
  position: relative;
}
.spinnerParent {
  position: absolute;
  right: 60px;
  bottom: 2px;
}
.category-options-spinner {
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 970px) {
  .HomeWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .prefrenceWrapper {
    width: 100%;
  }
  .testLogWrapper {
    width: 100%;
    margin-right: 0;
  }
}

/* modal styles */
.delteModal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.delteModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* end of modal styles */
