.dashboardParent{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    min-height: 100vh;
}
.smartflowLogo{
    background-color: white;
}
tr:nth-child(even){
    background-color: #b8c6db;
}
.goodResult{color: green;}
.badResult{color: red;}