.cusModal {
  background: #000000cb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.formContent {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  max-width: 500px;
}
/* .loginForm {
  max-width: 60%;
  height: 100% !important;
} */
.signUpForm {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
.formHead {
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* background: #1d1d1d; */
  background-color: #d40d06;
  color: #fff;
}

.formHead .closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.formHead .closeBtn svg {
  width: 20px;
  height: 20px;
}

.formHead b {
  font-size: 50px;
}

.formBody {
  padding: 20px;
}

.formBody .formGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  margin-bottom: 10px;
  position: relative;
}

.formBody .formGroup span {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 50%;
  font-size: 13px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.formBody .formGroup input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  outline: none;
  padding: 10px;
  min-width: 1px;
  border-radius: 0 4px 4px 0;
  font-size: 14px;
  border: 1px solid #000;
}
.formBody .formGroup div {
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px 0 0 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* background: #5f5f5f; */
  background-color: #d40d06;
  /* border: 1px solid #5f5f5f; */
  border: 1px solid #d40d06;
  color: #fff;
}

.formBody .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 45px;
  border: none;
  width: 100%;
  /* background: #000; */
  background-color: #d40d06;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  /* border: 2px solid #000; */
  border: 2px solid #d40d06;
  margin-bottom: 30px;
}

.formBody .btn:hover {
  color: #000;
  background: #fff;
}
.formBody p {
  font-size: 14px;
  text-align: center;
}

.formBody p a {
  font-weight: 500;
  color: #000;
  text-decoration: underline;
}

.cusModal.cusShow {
  z-index: 2000;
  opacity: 1;
}

.cusModal.cusShow .formContent {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.landingPage {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.infoAlert {
  display: none;
  text-align: center;
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 3000; /* Sit on top */
  padding: 50px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.d-block {
  display: block;
}
/*
@media(max-width:850px){
.infoAlert{
   width:50% ;
}   
}
@media(max-width:600px){
  .infoAlert{
      width:70% ;
  }    
  .infoText{
      font-size: 16px !important;
  }
  .close{
      right: 60px !important;
  }
}
*/
.infoChild {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 100px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounce {
  animation-name: bounce;
}
#password-validation-message {
  margin-top: 30px;
  font-size: 10px;
}
.success-message {
  color: green;
}
.failure-message {
  color: red;
}
@media (max-width: 480px) {
  .CopyrightText {
    font-size: 13px;
  }
}
