@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap");
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.quizQuestionWrap {
    padding: 10px 2rem;
    height: 400px;
    overflow-y: auto;
}
.splashScreen{
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    z-index: 200;
    line-height: 90vh;
}
.splashScreen.dsiplay-none{
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    z-index: -10;
    line-height: 90vh;
}
.black-text{color: black;}
.red-text{color: red;}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
}
.fadeIn{
    opacity:0;
    animation: fadeIn 1s ease-in forwards;
}
.logoParent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logoParent{
    margin-top: 10px;
}

.quizContainer {
    background-color: #ffffff;
    width: 600px;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
    height: 80%;
}

.nextBtn {
    margin-left: auto;
}

.quizNumberTracker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submitBtn {
    display: none;
    background-color:#5cb85c !important;
    border: #5cb85c;
    box-shadow: 5px 10px 8px 10px #a4b4a8;
    
}

.quizContainer button {
    display: block;
    background-color: #8e44ad;
    cursor: pointer;
    padding: 1.3rem;
    color: white;
    font-family: inherit;
    border: none;
    font-size: 1.1rem;
}

.quizContainer button :focus {
    outline: none;
    background-color: #5e3370;
}

.quizContainer button:hover {
    background-color: #782f97;
}

.quizContainer ul {
    list-style-type: none;
    padding: 0;
}

.quizContainer ul li {
    padding: 14px 0;
    font-size: 1.2rem;
}

.quizContainer ul li label {
    cursor: pointer;
    white-space: pre-line;
}

.quizContainer h2 {
    margin: 0;
    text-align: center;
    padding: 10px 1rem;
    font-size: 20px;
    line-height: 32px;
}
.invisible {visibility: hidden;}
.display-none{display: none !important;}
@media(max-width: 450px) {
    .quizContainer ul li {
        font-size: 15px;
    }
    h2 {
        font-size: 16px!important;
    }
}
.infoAlert{
    display: none;
    text-align: center;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 50px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.d-block{display: block;}
@media(max-width:850px){
 .infoAlert{
     width:50% ;
 }   
}
@media(max-width:600px){
    .infoAlert{
        width:70% ;
    }    
    .infoText{
        font-size: 16px !important;
    }
    .close{
        right: 60px !important;
    }
}
.infoChild{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 100px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.animated {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  .bounce {
    animation-name: bounce;
  }
