/* ***General Styling*** */
.page-blocker{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: white;
}

.welcome-message{padding: 0 15%;}
#test-setup legend {width: fit-content;}
label{padding: 0 5px;}
label:hover{font-weight: bold;}
input[type="radio"]:hover{transform: scale(1.2); border: solid 1px black;}
a:hover{text-decoration: none;}
.btn:focus{box-shadow: none;}
.category-options-spinner{width: 1.5rem; height: 1.5rem; border-width: 2px !important;}

/*Styling used in category-page.html*/
.category-specific-options button:hover{background-color: #dc3545;}
.modal-dialog{word-wrap: break-word;}
.black-text{color: black;}
.red-text{color: red;}
.category-specific-options small {margin-top: -5px; width: 50%;
    margin-left: 31%;}

/*Styling used in quiz.html */
.timer {margin-bottom: 40px;}
.card {border: solid 1px blue; margin-bottom: 15px;}
.answer-options{min-width: 100%; max-width: 100%;}
.controls {width: 50%;}
.answer-options p {background-color: rgb(105, 101, 101); border-radius: 15px; padding: 5px; color: white;}
.answer-options p:hover {background-color: green;}
.answer-options label{display: block; margin: 0; padding: 5px;}
.answer-options label:hover, .answer-options input:hover{cursor: pointer;}
.answer-options input {margin: 0 7px; color: black;}
.spinner-border-large {width: 4rem; height: 4rem;}
#quiz-link-modal .modal-body p a {display: block; padding: 5px;}
.hidden{display: none;}


/*finsihed html page*/

html {
    height: 100%;
  }
  body {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family:'Helvetica', sans-serif;
    font-size:16px  
  }

  
  h1 {
      font-size: 1.8rem; 
  }
  
  #particles-js {
      position: absolute;
      height: 100vh;
      z-index: -1;
      width: 100%;
  }
  .thank-you-container {
      margin: 0 auto;
      max-width: 600px;
      padding: 0 4em;
  }
  .thank-you-box {
      background: #B6FFCD;
      color: #000;
      padding: 1em 0.5em;
      border-radius: 5px;
      text-align: center;
  }
  .return-black {
     margin: 20px 0;
     text-align: center;
     width: 100%;
     float: left;
    color: black;
  }
