.welcome-message{padding: 0 15%;}
#test-setup legend {width: fit-content;}
label{padding: 0 5px;}
label:hover{font-weight: bold;}
input[type="radio"]:hover{transform: scale(1.2); border: solid 1px black;}
a:hover{text-decoration: none;}
.btn:focus{box-shadow: none;}
.language-specific-options button:hover{background-color: #dc3545;}